@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="row" style="margin:10%;justify-content:center">
    <div class="col-md-4 form-container">
        <section>
                <div class="alert alert-@statusMessageClass alert-dismissible" role="alert" style="margin-top: 10%">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    @Model
                </div>
        </section>
    </div>
    </div>
    
}
