@page
@model RegisterModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row" style="margin:10%;justify-content:center">
    <div class="col-md-4 form-container">
            <form id="account" method="post">
                <div class="logo-container">
                    <img src="~/img/AR-NATOMY LOGO -spaced.png" />
                </div>
                <h2 style="font-family: 'Didact Gothic', sans-serif;text-align: center;">Register to begin!</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="on" aria-required="true" placeholder="John"/>
                <label asp-for="Input.FirstName">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="on" aria-required="true" placeholder="Doe" />
                <label asp-for="Input.LastName">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.School" class="form-control" autocomplete="on" aria-required="true" placeholder="Thomas Adewumi University" />
                <label asp-for="Input.School">School/University</label>
                <span asp-validation-for="Input.School" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.CourseOfStudy" class="form-control" autocomplete="on" placeholder="Nursing Science" />
                <label asp-for="Input.CourseOfStudy">Course of Study</label>
                <span asp-validation-for="Input.CourseOfStudy" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <div class="col-sm-10" style="display:flex;justify-content:space-around;width:100%">
                    <div class="form-check form-check-inline">
                        <input asp-for="Input.Role" class="form-check-input" type="radio" name="Input.Role" id="inlineRadio1" value="student" /> Student
                    </div>
                    <div class="form-check form-check-inline">
                        <input asp-for="Input.Role" class="form-check-input" type="radio" name="Input.Role" id="inlineRadio2" value="instructor" /> Instructor
                    </div>
                </div>
                <span asp-validation-for="Input.Role" class="text-danger"></span>

            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary login-btn">Register</button>
            <div>
                <p style="text-align:center">
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account? Just log in!</a>
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts { 
     <partial name="_ValidationScriptsPartial" /> 
 }
