@model List<OrganModel>
@{
    ViewData["Title"] = "Feedback Page";
}
<div style="height:100vh;align-content:center">
    <div class="row resend-email" style="margin:10%;justify-content:center">
        <div class="col-md-4 form-container" style="padding:4%">
            <section>
                <form id="account" method="post">
                    <h2 style="font-family: 'Didact Gothic', sans-serif;text-align: center;padding:5%;width:max-content">Rate your experience</h2>
                    <div class="form-group" style="display:flex;flex-direction:column">
                        <label for="inputState" style="text-align:center">Select an Anatomy Model</label>
                        <select id="inputState" class="form-control">
                            <option selected>Select</option>
                            @foreach (var OrganModel in Model){
                                <option>@OrganModel.Name</option>
                            }
                            
                            
                        </select>
                    </div>
                    <div class="rate-box" style="justify-content:center">
                        <input type="radio" name="star" id="star0" />
                        <label class="star" for="star0"></label>
                        <input type="radio" name="star" id="star1" />
                        <label class="star" for="star1"></label>
                        <input type="radio" name="star" id="star2" checked="checked" />
                        <label class="star" for="star2"></label>
                        <input type="radio" name="star" id="star3" />
                        <label class="star" for="star3"></label>
                        <input type="radio" name="star" id="star4" />
                        <label class="star" for="star4"></label>
                    </div>
                    <textarea cols="30" rows="6" placeholder="Tell us about your experience!"></textarea>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary login-btn" asp-action="CreateFeedback" asp-controller="Home">Submit</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>