@{
    ViewData["Title"] = "Home Page";
}

<div class="css-lx44sl">
    <div class="main-navigation-container css-0">
        <h1 class="chakra-heading main-navigation-title css-1dklj6k">
            Human Organ Systems in Augmented Reality
        </h1>
        <h2 class="chakra-text main-navigation-byline networksolutions-body css-0">
            There are 12 major organ systems in the human body: Skeletal, Muscular,
            Cardiovascular, Digestive, Endocrine, Nervous, Respiratory,
            Immune/Lymphatic, Urinary, Female Reproductive, Male
            Reproductive, Integumentary. Select a system below to view and study
            in an immersive, interactive AR experience.
        </h2>
        <div class="css-houp05">
            <div class="common-header css-s133pz" id="anatomy systems">
                <h2 class="chakra-heading css-1iepvxd" id="anatomy-systems">
                    HUMAN ORGAN SYSTEMS
                </h2>
            </div>
        </div>
        <div class="anatomy-boxes css-0">
            <a tabindex="-1"
               aria-label="Skeletal System"
               asp-controller="Home" asp-action="SkeletalSystem" style="text-decoration: none;">
                <div class="anatomy-box css-0">
                    <div class="anatomy-image-box css-0">
                        <img class="anatomy-image lazyload"
                             width="180"
                             height="260"
                             src="../../innerbody.imgix.net/SK-Female-Anterior_1c861.png?auto=format&amp;ixlib=react-9.4.0&amp;h=260&amp;w=180"
                             srcset="
                          https://innerbody.imgix.net/SK-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=1&amp;q=75 1x,
                          https://innerbody.imgix.net/SK-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=2&amp;q=50 2x,
                          https://innerbody.imgix.net/SK-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=3&amp;q=35 3x,
                          https://innerbody.imgix.net/SK-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=4&amp;q=23 4x,
                          https://innerbody.imgix.net/SK-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=5&amp;q=20 5x
                        "
                             alt="Skeletal System" />
                    </div>
                    <div class="anatomy-content-box css-0">
                        <span class="title">Skeletal System</span><span class="desc">
                            The skeletal system includes all of the bones and
                            joints in the body.
                        </span>
                    </div>
                </div>
            </a><a tabindex="-1"
                   aria-label="Muscular System"
                   asp-controller="Home" asp-action="MuscularSystem"
                   style="text-decoration: none;pointer-events:none">
                <div class="anatomy-box css-0 overlay-disabled" style="position:relative">
                    <div class="anatomy-image-box css-0">
                        <img class="anatomy-image lazyload"
                             width="180"
                             height="260"
                             src="../../innerbody.imgix.net/MU-Female-Anterior_0c861.png?auto=format&amp;ixlib=react-9.4.0&amp;h=260&amp;w=180"
                             srcset="
                          https://innerbody.imgix.net/MU-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=1&amp;q=75 1x,
                          https://innerbody.imgix.net/MU-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=2&amp;q=50 2x,
                          https://innerbody.imgix.net/MU-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=3&amp;q=35 3x,
                          https://innerbody.imgix.net/MU-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=4&amp;q=23 4x,
                          https://innerbody.imgix.net/MU-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=5&amp;q=20 5x
                        "
                             alt="Muscular System" />
                    </div>
                    <div class="card-overlay">Coming Soon</div>
                    <div class="anatomy-content-box css-0">
                        <span class="title">Muscular System</span><span class="desc">
                            The muscular system is responsible for the movement of
                            the human body.
                        </span>
                    </div>
                </div>
            </a><a tabindex="-1"
                   aria-label="Cardiovascular System"
                   href="https://www.innerbody.com/image/cardov.html" style="text-decoration: none;pointer-events:none">
                <div class="anatomy-box css-0 overlay-disabled" style="position:relative">
                    <div class="anatomy-image-box css-0">
                        <img class="anatomy-image lazyload"
                             width="180"
                             height="260"
                             src="../../innerbody.imgix.net/CA-Female-Anterior(1)c861.png?auto=format&amp;ixlib=react-9.4.0&amp;h=260&amp;w=180"
                             srcset="
                          https://innerbody.imgix.net/CA-Female-Anterior(1).png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=1&amp;q=75 1x,
                          https://innerbody.imgix.net/CA-Female-Anterior(1).png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=2&amp;q=50 2x,
                          https://innerbody.imgix.net/CA-Female-Anterior(1).png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=3&amp;q=35 3x,
                          https://innerbody.imgix.net/CA-Female-Anterior(1).png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=4&amp;q=23 4x,
                          https://innerbody.imgix.net/CA-Female-Anterior(1).png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=5&amp;q=20 5x
                        "
                             alt="Cardiovascular System" />
                    </div>
                    <div class="card-overlay">Coming Soon</div>
                    <div class="anatomy-content-box css-0">
                        <span class="title">Cardiovascular System</span><span class="desc">
                            The cardiovascular system consists of the heart, blood
                            vessels, and the approximately 5 liters of blood that
                            the blood vessels transport.
                        </span>
                    </div>
                </div>
            </a><a tabindex="-1"
                   aria-label="Digestive System"
                   asp-controller="Home" asp-action="DigestiveSystem"
                   style="text-decoration: none;pointer-events:none">
                <div class="anatomy-box css-0 overlay-disabled" style="position:relative">
                    <div class="anatomy-image-box css-0">
                        <img class="anatomy-image lazyload"
                             width="180"
                             height="260"
                             src="../../innerbody.imgix.net/DI-Female-Anterior_0c861.png?auto=format&amp;ixlib=react-9.4.0&amp;h=260&amp;w=180"
                             srcset="
                          https://innerbody.imgix.net/DI-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=1&amp;q=75 1x,
                          https://innerbody.imgix.net/DI-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=2&amp;q=50 2x,
                          https://innerbody.imgix.net/DI-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=3&amp;q=35 3x,
                          https://innerbody.imgix.net/DI-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=4&amp;q=23 4x,
                          https://innerbody.imgix.net/DI-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=5&amp;q=20 5x
                        "
                             alt="Digestive System" />
                    </div>
                    <div class="card-overlay">Coming Soon</div>
                    <div class="anatomy-content-box css-0">
                        <span class="title">Digestive System</span><span class="desc">
                            The digestive system is a group of organs working
                            together to convert food into energy and basic nutrients
                            to feed the entire body.
                        </span>
                    </div>
                </div>
            </a><a tabindex="-1"
                   aria-label="Endocrine System"
                   asp-controller="Home" asp-action="EndocrineSystem" style="text-decoration: none;pointer-events:none">
                <div class="anatomy-box css-0 overlay-disabled" style="position:relative">
                    <div class="anatomy-image-box css-0">
                        <img class="anatomy-image lazyload"
                             width="180"
                             height="260"
                             src="../../innerbody.imgix.net/EN-Female-Anterior_1c861.png?auto=format&amp;ixlib=react-9.4.0&amp;h=260&amp;w=180"
                             srcset="
                          https://innerbody.imgix.net/EN-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=1&amp;q=75 1x,
                          https://innerbody.imgix.net/EN-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=2&amp;q=50 2x,
                          https://innerbody.imgix.net/EN-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=3&amp;q=35 3x,
                          https://innerbody.imgix.net/EN-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=4&amp;q=23 4x,
                          https://innerbody.imgix.net/EN-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=5&amp;q=20 5x
                        "
                             alt="Endocrine System" />
                    </div>
                    <div class="card-overlay">Coming Soon</div>
                    <div class="anatomy-content-box css-0">
                        <span class="title">Endocrine System</span><span class="desc">
                            The endocrine system includes all of the glands of the
                            body and the hormones produced by those glands.
                        </span>
                    </div>
                </div>
            </a><a tabindex="-1"
                   aria-label="Nervous System"
                   asp-controller="Home" asp-action="NervousSystem" style="text-decoration: none;pointer-events:none">
                <div class="anatomy-box css-0 overlay-disabled" style="position:relative">
                    <div class="anatomy-image-box css-0">
                        <img class="anatomy-image lazyload"
                             width="180"
                             height="260"
                             src="../../innerbody.imgix.net/NE-Female-Anterior_1c861.png?auto=format&amp;ixlib=react-9.4.0&amp;h=260&amp;w=180"
                             srcset="
                          https://innerbody.imgix.net/NE-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=1&amp;q=75 1x,
                          https://innerbody.imgix.net/NE-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=2&amp;q=50 2x,
                          https://innerbody.imgix.net/NE-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=3&amp;q=35 3x,
                          https://innerbody.imgix.net/NE-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=4&amp;q=23 4x,
                          https://innerbody.imgix.net/NE-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=5&amp;q=20 5x
                        "
                             alt="Nervous System" />
                    </div>
                    <div class="card-overlay">Coming Soon</div>
                    <div class="anatomy-content-box css-0">
                        <span class="title">Nervous System</span><span class="desc">
                            The nervous system consists of the brain, spinal cord,
                            sensory organs, and all of the nerves that connect these
                            organs with the rest of the body.
                        </span>
                    </div>
                </div>
            </a><a tabindex="-1"
                   aria-label="Respiratory System"
                   href="https://www.innerbody.com/anatomy/respiratory" style="text-decoration: none;pointer-events:none">
                <div class="anatomy-box css-0 overlay-disabled" style="position:relative">
                    <div class="anatomy-image-box css-0">
                        <img class="anatomy-image lazyload"
                             width="180"
                             height="260"
                             src="../../innerbody.imgix.net/RE-Female-Anterior_0c861.png?auto=format&amp;ixlib=react-9.4.0&amp;h=260&amp;w=180"
                             srcset="
                          https://innerbody.imgix.net/RE-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=1&amp;q=75 1x,
                          https://innerbody.imgix.net/RE-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=2&amp;q=50 2x,
                          https://innerbody.imgix.net/RE-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=3&amp;q=35 3x,
                          https://innerbody.imgix.net/RE-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=4&amp;q=23 4x,
                          https://innerbody.imgix.net/RE-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=5&amp;q=20 5x
                        "
                             alt="Respiratory System" />
                    </div>
                    <div class="card-overlay">Coming Soon</div>
                    <div class="anatomy-content-box css-0">
                        <span class="title">Respiratory System</span><span class="desc">
                            The respiratory system provides oxygen to the body’s
                            cells while removing carbon dioxide, a waste product
                            that can be lethal if allowed to accumulate.
                        </span>
                    </div>
                </div>
            </a><a tabindex="-1"
                   aria-label="Immune/ Lymphatic System"
                   href="https://www.innerbody.com/image/lympov.html" style="text-decoration: none;pointer-events:none">
                <div class="anatomy-box css-0 overlay-disabled" style="position:relative">
                    <div class="anatomy-image-box css-0">
                        <img class="anatomy-image lazyload"
                             width="180"
                             height="260"
                             src="../../innerbody.imgix.net/IM-LY-Female-Anterior_1c861.png?auto=format&amp;ixlib=react-9.4.0&amp;h=260&amp;w=180"
                             srcset="
                          https://innerbody.imgix.net/IM-LY-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=1&amp;q=75 1x,
                          https://innerbody.imgix.net/IM-LY-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=2&amp;q=50 2x,
                          https://innerbody.imgix.net/IM-LY-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=3&amp;q=35 3x,
                          https://innerbody.imgix.net/IM-LY-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=4&amp;q=23 4x,
                          https://innerbody.imgix.net/IM-LY-Female-Anterior_1.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=5&amp;q=20 5x
                        "
                             alt="Immune/ Lymphatic System" />
                    </div>
                    <div class="card-overlay">Coming Soon</div>
                    <div class="anatomy-content-box css-0">
                        <span class="title">Immune/ Lymphatic System</span><span class="desc">
                            The immune and lymphatic systems are two closely
                            related organ systems that share several organs and
                            physiological functions.
                        </span>
                    </div>
                </div>
            </a><a tabindex="-1"
                   aria-label="Urinary System"
                   href="https://www.innerbody.com/image/urinov.html" style="text-decoration: none;pointer-events:none">
                <div class="anatomy-box css-0 overlay-disabled" style="position:relative">
                    <div class="anatomy-image-box css-0">
                        <img class="anatomy-image lazyload"
                             width="180"
                             height="260"
                             src="../../innerbody.imgix.net/UR-Female-Anterior_0c861.png?auto=format&amp;ixlib=react-9.4.0&amp;h=260&amp;w=180"
                             srcset="
                          https://innerbody.imgix.net/UR-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=1&amp;q=75 1x,
                          https://innerbody.imgix.net/UR-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=2&amp;q=50 2x,
                          https://innerbody.imgix.net/UR-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=3&amp;q=35 3x,
                          https://innerbody.imgix.net/UR-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=4&amp;q=23 4x,
                          https://innerbody.imgix.net/UR-Female-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=5&amp;q=20 5x
                        "
                             alt="Urinary System" />
                    </div>
                    <div class="card-overlay">Coming Soon</div>
                    <div class="anatomy-content-box css-0">
                        <span class="title">Urinary System</span><span class="desc">
                            The urinary system consists of the kidneys, ureters,
                            urinary bladder, and urethra.
                        </span>
                    </div>
                </div>
            </a><a tabindex="-1"
                   aria-label="Male Reproductive System"
                   href="https://www.innerbody.com/image/repmov.html" style="text-decoration: none;pointer-events:none">
                <div class="anatomy-box css-0 overlay-disabled" style="position:relative">
                    <div class="anatomy-image-box css-0 ">
                        <img class="anatomy-image lazyload"
                             width="180"
                             height="260"
                             src="../../innerbody.imgix.net/MA-Anterior_0c861.png?auto=format&amp;ixlib=react-9.4.0&amp;h=260&amp;w=180"
                             srcset="
                          https://innerbody.imgix.net/MA-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=1&amp;q=75 1x,
                          https://innerbody.imgix.net/MA-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=2&amp;q=50 2x,
                          https://innerbody.imgix.net/MA-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=3&amp;q=35 3x,
                          https://innerbody.imgix.net/MA-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=4&amp;q=23 4x,
                          https://innerbody.imgix.net/MA-Anterior_0.png?auto=format&amp;ixlib=react-9.4.0&amp;w=180&amp;h=260&amp;dpr=5&amp;q=20 5x
                        "
                             alt="Male Reproductive System" />
                        
                    </div>
                    <div class="card-overlay">Coming Soon</div>
                    <div class="anatomy-content-box css-0">
                        <span class="title">Male Reproductive System</span><span class="desc">
                            The male reproductive system includes the scrotum,
                            testes, spermatic ducts, sex glands, and penis.
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>