@* <!DOCTYPE html> *@
@* <html lang="en"> *@
@* <head> *@
@*     <meta charset="utf-8" /> *@
@*     <meta name="viewport" content="width=device-width, initial-scale=1.0" /> *@
@*     <title>@ViewData["Title"] - ARnatomy</title> *@
@*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
@*     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
@*     <link rel="stylesheet" href="~/ARnatomy.styles.css" asp-append-version="true" /> *@
@* </head> *@
@* <body> *@
@*     <header> *@
@*         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
@*             <div class="container-fluid"> *@
@*                 <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ARnatomy</a> *@
@*                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
@*                         aria-expanded="false" aria-label="Toggle navigation"> *@
@*                     <span class="navbar-toggler-icon"></span> *@
@*                 </button> *@
@*                 <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> *@
@*                     <ul class="navbar-nav flex-grow-1"> *@
@*                         <li class="nav-item"> *@
@*                             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
@*                         </li> *@
@*                         <li class="nav-item"> *@
@*                             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*                         </li> *@
@*                     </ul> *@
@*                     <partial name="_LoginPartial" /> *@
@*                 </div> *@
@*             </div> *@
@*         </nav> *@
@*     </header> *@
@*     <div class="container"> *@
@*         <main role="main" class="pb-3"> *@
@*             @RenderBody() *@
@*         </main> *@
@*     </div> *@

@*     <footer class="border-top footer text-muted"> *@
@*         <div class="container"> *@
@*             &copy; 2025 - ARnatomy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*         </div> *@
@*     </footer> *@
@*     <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
@*     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
@*     <script src="~/js/site.js" asp-append-version="true"></script> *@
@*     @await RenderSectionAsync("Scripts", required: false) *@
@* </body> *@
@* </html> *@


@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        ARNATOMY: Teaching Human Organ Systems in Anatomy using Augmented Reality
    </title>
    <meta name="description"
    content="Exploring human organ systems in anatomy with augmented reality."/>
    <meta property="og:title"
    content="ARNATOMY: Providing an immersive, inetractive augmented reality experience of the human organ systems in anatomy." />
    <meta property="og:description"
    content="Exploring human organ systems in anatomy with augmented reality."/>
    <meta property="og:type" content="Article" />
    <meta property="og:url" content="body.html" />
    <meta property="og:image"
    content="~/img/AR-NATOMY_Icon_-2-removebg-preview.png" />
    <meta property="og:site_name" content="ARNATOMY" />
    <link rel="canonical" href="body.html" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="preload"
    href="https://www.innerbody.com/fonts/pn-700.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous" />
    <link rel="preload"
    href="https://www.innerbody.com/fonts/pn-800.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous" />
    <link rel="preload"
    href="https://www.innerbody.com/fonts/pn-400.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous" />
    <link rel="preload"
    href="https://www.innerbody.com/fonts/pn-400-i.woff2"
    as="font"
    type="font/woff2"
    crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <script>
        (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src =
        "../../www.googletagmanager.com/gtm5445.html?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-MPWLGDP");
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type"
    content="text/html;charset=utf-8" />
    <meta name="next-head-count" content="2" />
    <link rel="apple-touch-icon"
    sizes="180x180"
    href="~/img/AR-NATOMY_Icon_-2-removebg-preview.png" />
    <link rel="icon"
    type="image/png"
    sizes="32x32"
    href="~/img/AR-NATOMY_Icon_-2-removebg-preview.png" />
    <link rel="icon"
    type="image/png"
    sizes="16x16"
    href="~/img/AR-NATOMY_Icon_-2-removebg-preview.png" />
    <link
    href="../Views/Shared/_Layout.cshtml.css"
    as="style" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <div style="height: 100vh">
        <div id="__next" data-reactroot="">
            <div scrolly="0" id="navbar" condition="false" class="css-10k7bzc" style="margin-top: -18px;padding-bottom: 2%;padding-top:2%">
                <div class="navbar-container css-0" style="display:flex;justify-content: center;align-content: center;flex-wrap: wrap;min-width:92%">
                    <div class="navabr-logo-area css-0 logo" style="min-width: 70%;width: 70%;justify-content: center;">
                        <a asp-controller="Home"
                        asp-action="Index"
                        aria-label="AR-NATOMY Logo">
                            <img src="~/img/AR-NATOMY LOGO -spaced.png" class=" chakra-icon navbar-logo-main css-onkibi" />
                        </a>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="css-0 log-in" style="min-width: 5%;width: 7%;justify-content: end;display: flex;align-content: center;flex-wrap: wrap;">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <button type="submit" class="nav-link btn btn-link text-dark" style="text-decoration:none;border: 3px solid #2e979b; padding: 0 5px 0 5px; border-radius: 7px; color: #2e979b; background-color: white;">Logout</button>
                            </form>
                        </div>
                        
                    }
                    else
                    {
                        <div class="css-0 log-in" style="min-width: 5%;width: 7%;justify-content: end;display: flex;align-content: center;flex-wrap: wrap;">
                            <a asp-area="Identity" asp-page="/Account/Login" style="text-decoration:none;border: 3px solid #2e979b; padding: 0 5px 0 5px; border-radius: 7px; color: #2e979b; background-color: white;"><strong>Log in</strong></a>
                        </div>
                    }
            
                </div>
            </div>
            <div role="main" class="css-14zquuz">
                @RenderBody()
                <div id="footer" class="css-11h0a8p">
                    <div class="footer-links css-0">
                        <div class="footer-links-container css-15ledoc">
                            <div class="newsletter-section css-0" style="align-items:center;display:flex">
                                <div class="footer-details-container-logo css-0">
                                    <a asp-controller="Home"
                                    asp-action="Index"
                                       aria-label="AR-NATOMY Logo">
                                        <img src="~/img/AR-NATOMY_LOGO_-spaced-removebg-preview.png" class="class=" chakra-icon css-1g7mx8j"" />
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="social-media-section css-0" style="display:flex">
                                    <div class="footer-details-container-wcag css-g3dq6t">
                                        <img class="lazyload"
                                             width="163"
                                             height="auto"
                                             src="~/img/headshot.png"
                                             alt="headshot" />
                                    </div>
                                    <div class="social-icons css-0" style="display:flex;justify-content:center;flex-direction: column;margin-bottom: -25%;padding-left: 10%">
                                        <a href="https://linkedin.com/in/oluwatodunni-obafemi-717170261"
                                           target="_blank"
                                           rel="noreferrer"
                                           style="text-decoration:none;border: 3px solid #2e979b; padding: 5px; border-radius: 7px; color: #2e979b; background-color: white;"
                                           aria-label="LinkedIn Icon"
                                           tabindex="-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z" /></svg>
                                        </a><a href="https://oluwatodunni-obafemi.netlify.app"
                                               target="_blank"
                                               rel="noreferrer"
                                               aria-label="Website Link Icon"
                                               style="text-decoration:none;border: 3px solid #2e979b; padding: 5px; border-radius: 7px; color: #2e979b; background-color: white;"
                                               tabindex="-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z" /></svg>
                                        </a>
                                    </div>
                                </div>
                                <p><strong>Connect with me!</strong></p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="footer-details css-0">
                        <div class="footer-details-container css-1jzh22k">
                            <div class="footer-details-container-text css-0">
                                <p class="chakra-text copyright-text css-0">
                                    Copyright © AR-NATOMY Research 2025. All Rights
                                    Reserved.
                                </p>

                                <div class="css-2imjyh" style="width: 100%">
                                    <p class="chakra-text byline-text css-0">
                                        This web application is a product of my final year
                                        research project at Thomas Adewumi University in partial
                                        fulfiment of the requirements for the degree: Bachelors of
                                        Science (Honors) in Software Engineering.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link href="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/css/lightbox.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/js/lightbox-plus-jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" async></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script> 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
